.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    background-color: rgb(248, 248, 248);
}

.timestamp{
    position: absolute;
    background-color: black;
    bottom: 9px;
    right: 5px;
    color: white;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    cursor: pointer;
}

.profile{
    width: 40px;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.video-title{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    cursor: pointer;
}

.video-author{
    font-size: 12px;
    color: rgb(80, 79, 79);
    margin-bottom: 3px;
    margin-top: 0;
    cursor: pointer;
}

.video-stats{
    font-size: 12px;
    color: rgb(80, 79, 79);
    margin-top: 0;
    cursor: pointer;
}
